#canvas {
  position: absolute;
  left: 120px;
  top: 120px;
}

.description {
  font-size: 16px;
	color: #666;
}
.password_invalid {
  background-color: red;
}

.password_valid {
  background-color: green;
}