.test_result {
  padding: 5px 10px 5px 10px;
	background-color: #F5F4F3;
	border: solid 1px #DDD;
	margin: 0 0 2px 0;
	width: 700px;
	font-size: 16px;
	color: #666;
	line-height: 20px;
}

.passed {
	background-color: blue;
	border-color: blue;
	color: white;
}

.failed {
  background-color: red;
	border-color: red;
	color: white;
}